<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="REQUEST_METHOD" value="GET"/>
        <server name="SCRIPT_NAME" value="/public/index.php"/>
        <server name="HTTP_HOST" value="localhost:8000"/>
        <server name="REQUEST_URI" value="/"/>
        <get name="teste" value="123"/>
        <post name="teste" value="123"/>
    </php>
</phpunit>
